<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
			<h2>My profile</h2>
				<p>
				  <strong>Name:</strong>
				  <%= @profile.name %>
				</p>

				<p>
				  <strong>Profile pic:</strong>
				  <%= @profile.profile_pic %>
				</p>

				<p>
				  <strong>Twitter:</strong>
				  <%= @profile.twitter %>
				</p>

				<p>
				  <strong>Email:</strong>
				  <%= @profile.user.email %>
				</p>

				<%= link_to 'Edit', edit_profile_path(@profile) %> |
				<%= link_to 'Back', profiles_path %>
			</div>
		</div>
	</div>

	<div class="col-md-8">

	</div>
</div>
